*.jpg
*.jpeg
*.png

*.sh.o*
*.sh.e*

segmentation/*
!segmentation/swiftnet

yolov3/
ultralytics/*
!ultralytics/yolov3-16

gans/
histogram_data/
random/
targeted/
miniconda3/
tfenv/
swift_res_pixacc

Cityscapes/
train2014/
val2014/
samples/
weights/
results/
